body{
    font-family:Arial, Helvetica, sans-serif;
    background-color:rgb(200, 205, 171);
    margin:0;
    padding:0;
}
header{
    text-align:center;
    font-family:Impact, Haettenschweiler, ' Bold';
    font-size:20px;
    margin-top: 0;
}
h1{
    padding-left:1%;
    padding-top: 10px;
    margin-top:0;
    text-decoration-line: antiquewhite;
    display:inline-flex;
    
    
}
h2{
    text-decoration: underline;
    margin-bottom:5px;
    color:rgb(31, 24, 228)
}
.about{
    text-align:justify;
    line-height:2.5;
    background-color:rgb(86, 80, 148);
    padding:10px;
    border-radius:10px;
    white-space: normal;
    
}
.underline{
    width:100%;
    height:5px;
    background-color:rgb(40, 40, 40);
    margin-bottom:20px;
}
span{
    display:inline-block;
    margin-right:15px;
    background-color: rgb(86, 80, 148);
    padding:5px;
    border-radius:10px;
    
}
pre{
    
    font-size:16px;
}
fieldset {
    border: 2px solid rgb(86, 80, 148);
    border-radius:10px;
    margin-bottom:5px;

}
.phone{
    margin-left:80px;
    margin-bottom:3px;
    display:inline-block;
    background-color: rgb(86, 80, 148);
    border-radius:10px;
    padding:5px;
    text-align: left;
}
.email{
    margin-left:550px;
    margin-bottom:3px;
    display:inline-block;
    background-color: rgb(86, 80, 148);
    border-radius:10px;
    padding:5px;
    text-align: right;
}
.linkedin{
    margin-left:80px;
    margin-bottom:0px;
    display:inline-block;
    background-color: rgb(86, 80, 148);
    border-radius:10px;
    padding:5px;
    text-align: left;
}
.github{
    margin-left:690px;
    margin-bottom:0px;
    display:inline-block;
    background-color: rgb(86, 80, 148);
    border-radius:10px;
    padding:5px;
    text-align: right;
    
}
.contact{
    white-space: normal;
}